* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-color: #121212;
}



.mainContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userStats {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.statCard {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 1s ease;
}

.statCard h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.statCard p {
  font-size: 24px;
  font-weight: bold;
}

.mainOptions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.optionCard {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.optionCard:hover {
  background-color: #444;
  transform: scale(1.05);
}

.optionCard h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.optionCard p {
  font-size: 16px;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .mainOptions {
    grid-template-columns: 1fr 1fr;
  }

  .userStats {
    flex-direction: column;
    gap: 10px;
  }

  .statCard {
    width: 100%;
  }
}

